<ng-container *ngIf="isLoading">
  Laoding...
</ng-container>

<ng-container *ngIf="!isLoading">
  <div class="container">
    <form (ngSubmit)="edit()" #form="ngForm">
      <div class="form-group">
        <label>Modèle</label>
        <input #model="ngModel" id="model" name="model" type="text" class="form-control"
          [(ngModel)]="computerToEdit.model" required>
        <div [hidden]="model.valid" class="alert alert-danger">
          Le modèle n'est pas valide...
        </div>
      </div>
      <div class="form-group">
        <label>Marque</label>
        <select #brand="ngModel" id="brand" name="brand" class="form-control" [(ngModel)]="computerToEdit.brand"
          required>
          <option></option>
          <option *ngFor="let brand of brands">
            {{brand}}
          </option>
        </select>
        <div [hidden]="brand.valid" class="alert alert-danger">
          La marque n'est pas valide..
        </div>
      </div>
      <div class="form-group">
        <label>Style</label>
        <select #style="ngModel" id="style" name="style" class="form-control" [(ngModel)]="computerToEdit.type"
          required>
          <option></option>
          <option *ngFor="let aaaaaa of bllbl">
            {{aaaaaa}}
          </option>
        </select>
        <div [hidden]="style.valid" class="alert alert-danger">
          Le style n'est pas valide..
        </div>
      </div>


      <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Editer</button>


    </form>
  </div>

</ng-container>
