.headerparent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 40px;
  grid-row-gap: 50px;
  text-align: center;
  font-family: calibri;
}

img {
  max-height: 197px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 200px;
  grid-row-gap: 10px;
  text-align: center;
  font-family: calibri;

}

.parent div {
  box-sizing: border-box;
  border: 1px solid black;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div2 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3 {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div4 {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div5 {
  grid-area: 1 / 6 / 2 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div6 {
  display: flex;
  grid-area: 1 / 7 / 2 / 8;
  justify-content: center;
  align-items: center;
}

.div7 {
  grid-area: 1 / 8 / 2 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div9 {
  grid-area: 1 / 9 / 2 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div8 {
  padding-top: 50px;
  padding-bottom: 50px;
  grid-area: 1 / 9 / 2 / 10;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn {
  width: 70%;
}
